# notebook savepoints
.ipynb_checkpoints/

# private data
src/xsede_stats/
2016-2017/
analysis/inspect_raw.ipynb
src/modules/inspect*
src/modules/lustre*
src/modules/to_*

# needs significant overhauling
visualizations/
